<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>

      <a href="/addFilm" >Add</a>
     
      


    </div>
  </div>
  <div class="col-md-6">
    <h4>Film List</h4>
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-action active"
        *ngFor="let entity of entyties; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveEntity(entity, i)"

        routerLink="/films/{{ entity.id }}"
      >
        {{ entity.title }}
        
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="entity">
      

      <h4>Film</h4>
      <div>
        <label><strong>Id:</strong></label> {{ entity.id }}
      </div>
      <div>
        <label><strong>Titulo:</strong></label> {{ entity.title }}
      </div>
      <div>
        <label><strong>episode:</strong></label>
        {{ entity.episodeId }}
      </div>
      <div>
        <label><strong>Diretor:</strong></label> {{ entity.director }}
      </div>
      <div>
        <label><strong>Produtor:</strong></label> {{ entity.producer }}
      </div>
      <div>
        <label><strong>Data:</strong></label> {{ entity.releaseDate }}
      </div>
    </div>
  </div>
</div>
