<div>
  <button type="button" class="btn btn-link"  routerLink="/films">Back</button>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="entity.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="episodeId">episodeId</label>
        <input
          type="text"
          class="form-control"
          id="episodeId"
          [(ngModel)]="entity.episodeId"
          name="episodeId"
        />
      </div>

      <div class="form-group">
        <label for="director">director</label>
        <input
          type="text"
          class="form-control"
          id="director"
          [(ngModel)]="entity.director"
          name="director"
        />
      </div>

      <div class="form-group">
        <label for="producer">producer</label>
        <input
          type="text"
          class="form-control"
          id="producer"
          [(ngModel)]="entity.producer"
          name="producer"
        />
      </div>

      <div class="form-group">
        <label for="openingCrawl">openingCrawl</label>
        <textarea
          type="text"
          class="form-control"
          id="openingCrawl"
          [(ngModel)]="entity.openingCrawl"
          name="openingCrawl"
        ></textarea>
      </div>

      <button (click)="save()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Filme adicionado com sucesso!</h4>
      <button class="btn btn-success" (click)="new()">Add</button>
    </div>
  </div>
</div>
