<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName()"
        >
          Search
        </button>
      </div>
      <div class="input-group-append">
        <a href="/addPeople" >Add</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4 class="h4">People List</h4>
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-action active"
        *ngFor="let entity of entyties; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveEntity(entity, i)"       
        routerLink="/people/{{ entity.id }}" 
      >
        {{ entity.name }}
        
      </li>
    </ul>

  </div>
  <div class="col-md-6">
    <div *ngIf="entity">
      
      <h4>Pessoa</h4>
      <div>
        <label><strong>Id:</strong></label> {{ entity.id }}
      </div>
      <div>
        <label><strong>Name:</strong></label> {{ entity.name }}
      </div>
      <div>
        <label><strong>eye_color:</strong></label> {{ entity.eyeColor }}
      </div>
      <div>
        <label><strong>gender:</strong></label> {{ entity.gender }}
      </div>
      <div>
        <label><strong>hair_color:</strong></label> {{ entity.hairColor }}
      </div>
      <div>
        <label><strong>height:</strong></label> {{ entity.height }}
      </div>
      <div>
        <label><strong>mass:</strong></label> {{ entity.mass }}
      </div>
      <div>
        <label><strong>skin_color:</strong></label> {{ entity.skinColor }}
      </div>
    </div>

  </div>
</div>
