<div>
  <button type="button" class="btn btn-link"  routerLink="/starships">Back</button>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="model">model</label>
        <input
          type="text"
          class="form-control"
          id="model"
          [(ngModel)]="entity.model"
          name="model"
        />
      </div>

      <div class="form-group">
        <label for="starshipClass">starshipClass</label>
        <input
          type="text"
          class="form-control"
          id="starshipClass"
          [(ngModel)]="entity.starshipClass"
          name="starshipClass"
        />
      </div>

      <div class="form-group">
        <label for="manufacturer">manufacturer</label>
        <input
          type="text"
          class="form-control"
          id="manufacturer"
          [(ngModel)]="entity.manufacturer"
          name="manufacturer"
        />
      </div>

      <div class="form-group">
        <label for="costInCredits">costInCredits</label>
        <input
          type="text"
          class="form-control"
          id="costInCredits"
          [(ngModel)]="entity.costInCredits"
          name="costInCredits"
        />
      </div>

      <div class="form-group">
        <label for="length">length</label>
        <input
          type="text"
          class="form-control"
          id="length"
          [(ngModel)]="entity.length"
          name="length"
        />
      </div>

      <div class="form-group">
        <label for="crew">crew</label>
        <input
          type="text"
          class="form-control"
          id="crew"
          [(ngModel)]="entity.crew"
          name="crew"
        />
      </div>

      <div class="form-group">
        <label for="passengers">passengers</label>
        <input
          type="text"
          class="form-control"
          id="passengers"
          [(ngModel)]="entity.passengers"
          name="passengers"
        />
      </div>

      <div class="form-group">
        <label for="maxAtmospheringSpeed">maxAtmospheringSpeed</label>
        <input
          type="text"
          class="form-control"
          id="maxAtmospheringSpeed"
          [(ngModel)]="entity.maxAtmospheringSpeed"
          name="maxAtmospheringSpeed"
        />
      </div>

      <div class="form-group">
        <label for="hyperdriveRating">hyperdriveRating</label>
        <input
          type="text"
          class="form-control"
          id="hyperdriveRating"
          [(ngModel)]="entity.hyperdriveRating"
          name="hyperdriveRating"
        />
      </div>

      <div class="form-group">
        <label for="MGLT">MGLT</label>
        <input
          type="text"
          class="form-control"
          id="MGLT"
          [(ngModel)]="entity.MGLT"
          name="MGLT"
        />
      </div>

      <div class="form-group">
        <label for="cargoCapacity">cargoCapacity</label>
        <input
          type="text"
          class="form-control"
          id="cargoCapacity"
          [(ngModel)]="entity.cargoCapacity"
          name="cargoCapacity"
        />
      </div>

      <div class="form-group">
        <label for="consumables">consumables</label>
        <input
          type="text"
          class="form-control"
          id="consumables"
          [(ngModel)]="entity.consumables"
          name="consumables"
        />
      </div>

      <button (click)="save()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>StarShip adicionado com sucesso!</h4>
      <button class="btn btn-success" (click)="new()">Add</button>
    </div>
  </div>
</div>
