<style>
.body {background-color: black;}
.li { color: yellow; }
.h4 { color: yellow; }


</style>

<div class="body h4 li ul">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">StarWars</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a routerLink="people" class="nav-link">People</a>  
      </li>
      
      <li class="nav-item">
        <a routerLink="films" class="nav-link">Films</a>
      </li>
      <li class="nav-item">
        <a routerLink="planets" class="nav-link">Planets</a>
      </li>
      <li class="nav-item">
        <a routerLink="species" class="nav-link">Species</a>
      </li>
      <li class="nav-item">
        <a routerLink="starships" class="nav-link">StarShips</a>
      </li>
      <li class="nav-item">
        <a routerLink="vehicles" class="nav-link">Vehicles</a>
      </li>
      <li class="nav-item">
        <a routerLink="peopleplanets" class="nav-link">Pesquisa</a>
      </li>     
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>