<div>
  <button type="button" class="btn btn-link"  routerLink="/species">Back</button>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="classification">classification</label>
        <input
          type="text"
          class="form-control"
          id="classification"
          [(ngModel)]="entity.classification"
          name="classification"
        />
      </div>

      <div class="form-group">
        <label for="designation">designation</label>
        <input
          type="text"
          class="form-control"
          id="designation"
          [(ngModel)]="entity.designation"
          name="designation"
        />
      </div>

      <div class="form-group">
        <label for="averageHeight">averageHeight</label>
        <input
          type="text"
          class="form-control"
          id="averageHeight"
          [(ngModel)]="entity.averageHeight"
          name="averageHeight"
        />
      </div>

      <div class="form-group">
        <label for="averageLifespan">averageLifespan</label>
        <input
          type="text"
          class="form-control"
          id="averageLifespan"
          [(ngModel)]="entity.averageLifespan"
          name="averageLifespan"
        />
      </div>

      <div class="form-group">
        <label for="eyeColors">eyeColors</label>
        <input
          type="text"
          class="form-control"
          id="eyeColors"
          [(ngModel)]="entity.eyeColors"
          name="eyeColors"
        />
      </div>

      <div class="form-group">
        <label for="hairColors">hairColors</label>
        <input
          type="text"
          class="form-control"
          id="hairColors"
          [(ngModel)]="entity.hairColors"
          name="hairColors"
        />
      </div>

      <div class="form-group">
        <label for="skinColors">skinColors</label>
        <input
          type="text"
          class="form-control"
          id="skinColors"
          [(ngModel)]="entity.skinColors"
          name="skinColors"
        />
      </div>

      <div class="form-group">
        <label for="language">language</label>
        <input
          type="text"
          class="form-control"
          id="language"
          [(ngModel)]="entity.language"
          name="language"
        />
      </div>



      <button (click)="save()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Specie adicionado com sucesso!</h4>
      <button class="btn btn-success" (click)="new()">Add</button>
    </div>
  </div>
</div>
