<div>
  <button type="button" class="btn btn-link"  routerLink="/planets">Back</button>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="entity.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="diameter">diameter</label>
        <input
          type="text"
          class="form-control"
          id="diameter"
          [(ngModel)]="entity.diameter"
          name="diameter"
        />
      </div>

      <div class="form-group">
        <label for="rotationPeriod">rotationPeriod</label>
        <input
          type="text"
          class="form-control"
          id="rotationPeriod"
          [(ngModel)]="entity.rotationPeriod"
          name="rotationPeriod"
        />
      </div>
      <div class="form-group">
        <label for="orbitalPeriod">orbitalPeriod</label>
        <input
          type="text"
          class="form-control"
          id="orbitalPeriod"
          [(ngModel)]="entity.orbitalPeriod"
          name="orbitalPeriod"
        />
      </div>
      <div class="form-group">
        <label for="gravity">gravity</label>
        <input
          type="text"
          class="form-control"
          id="gravity"
          [(ngModel)]="entity.gravity"
          name="gravity"
        />
      </div>
      <div class="form-group">
        <label for="population">population</label>
        <input
          type="text"
          class="form-control"
          id="population"
          [(ngModel)]="entity.population"
          name="population"
        />
      </div>
      <div class="form-group">
        <label for="climate">climate</label>
        <input
          type="text"
          class="form-control"
          id="climate"
          [(ngModel)]="entity.climate"
          name="climate"
        />
      </div>
      <div class="form-group">
        <label for="terrain">terrain</label>
        <input
          type="text"
          class="form-control"
          id="terrain"
          [(ngModel)]="entity.terrain"
          name="terrain"
        />
      </div>
      <div class="form-group">
        <label for="surfaceWater">surfaceWater</label>
        <input
          type="text"
          class="form-control"
          id="surfaceWater"
          [(ngModel)]="entity.surfaceWater"
          name="surfaceWater"
        />
      </div>

      <button (click)="save()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Planeta adicionado com sucesso!</h4>
      <button class="btn btn-success" (click)="new()">Add</button>
    </div>
  </div>
</div>
